@font-face {
	font-family: 'V Sadygv';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/VSadygv-Regular.woff2') format('woff2'), url('TTF/VSadygv-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'V Sadygv Italic';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/VSadygv-Italic.woff2') format('woff2'), url('TTF/VSadygv-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'V Sadygv Bold';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/VSadygv-Bold.woff2') format('woff2'), url('TTF/VSadygv-Bold.ttf') format('truetype');
}
