body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f7f7f7; 
}

header {
    background-color: #111; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    padding: 40px 20px;
}

.category {
    margin-bottom: 60px;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.portfolio-item {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease;
}


.portfolio-item:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
	display: block; 
    margin:  auto; 
	padding-top: 40px;
	padding-bottom: 40px;
 	position: relative;
	z-index: 1;
}

.portfolio-item h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
}

.portfolio-item p {
    font-size: 16px;
    margin-bottom: 0;
}

footer {
    background-color: #111; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
a {
    color: white;
    text-decoration: none;
	height:auto;
}


